<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'polls:po_list' %}">Open POs</a> <br>
    <a href="{% url 'polls:shippment_list' %}">Shippments</a> <br>
    Ordered Parts <br>
    ------------- <br>
    Create PO <br>
    Create Shippment <br> 
    ------------- <br>
    <a href="{% url 'polls:part_add' %}">Add to parts list</a> <br>
    <a href="{% url 'polls:vendor_add' %}">Add to vendor list</a> <br>
    ------------- <br>
    <a href="{% url 'polls:part_list' %}">View parts list</a> <br>
    <a href="{% url 'polls:vendor_list' %}">View vendor list</a> <br>
</body>
</html>