<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    PO NUMBER: {{ po.po_number }} <a href="{% url 'polls:po_list' %}">(Go Back)</a> <br> <br>
    VENDOR: {{ po.vendor }} <br> <br>
    PO DATE: {{ po.date }} <br> <br>
    Notes: {{ po.notes }} <br> <br>
    {% for part in po.orderedpart_set.all %}
        ({{ part.part.number }} - {{ part.part.name }}) 
        || Received: {{ part.quantity_received }}/{{ part.quantity_expected }} 
        || Finished: {{ part.is_shipped }} <br> <br>
    {% endfor %}
    <a href="{% url 'polls:shippment_from_po' po_id=po.po_number %}">Create shippment from po!</a> <br>
</body>
</html>